<!doctype html>
<html ng-app="myApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="logService as ls"> 
      <p>
          <button ng-click="ls.logData('This is Log data')">Log</button>
          <button ng-click="ls.infoData('This is Info data')">Info</button>
          <button ng-click="ls.warnData('This is Warn data')">Warn</button>
          <button ng-click="ls.errorData('This is Error data')">Error</button>
          <button ng-click="ls.debugData('This is Debug data')">Debug</button>
      </p>
    </div>
  </body>
</html>
